body {
    margin: 0;
    background-color: #ece9de
}
a {
    color : black;
    text-decoration: none;
}
h1 {
    font-size: 18mm;
    text-align:center;
    border-bottom: 3px solid gray;
    margin: 0;
    padding: 20px;
}
ol {
    border-right: 1px solid gray;
    width: 150px;
    margin: 0;
    padding: 20px;
    padding-left: 32px;
}

#grid {
    display: grid;
    grid-template-columns: 210px 3fr;
}

#grid ol {
    padding-left: 33px;
}
#grid #article {
    padding-left: 25px;
}
@media(max-width:600px) {
    #grid {
    display: block;
     }
    ol {
    border-right: none;
     }
    #video {
        display: none;
    }
}
